<!-- acendversion {{.Site.Params.acendversion}} gt {{ .Get "gt" }} lt {{ .Get "lt" }} -->
{{- if .Site.Params.acendversion }}
{{- if and (.Get "gt") (.Get "lt") (gt .Site.Params.acendversion (.Get "gt")) (lt .Site.Params.acendversion (.Get "lt")) }}
{{ .Inner  }}
{{- end}}
{{- if and (.Get "gt") (not (.Get "lt")) (gt .Site.Params.acendversion (.Get "gt")) }}
{{ .Inner  }}
{{- end}}
{{- if and (not (.Get "gt")) (.Get "lt") (lt .Site.Params.acendversion (.Get "lt")) }}
{{ .Inner  }}
{{- end}}
{{- end}}